* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #000;
}

#gallery {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#gallery > a {
  display: block;
  width: calc(50% - 2.5px);
  border-radius: 5px;
  overflow: hidden;
}

#gallery > a > img {
  width: 100%;
  object-fit: cover;
}